@model List<OrderListModel>

@{
    ViewData["Title"] = "GetOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Siparişler</h1>

@foreach (var order in Model)
{
    <table class="table table-bordered table-sm mb-3">
        <thead>
            <tr>
                <td colspan="2">Order Id: #@order.OrderId</td>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var orderItem in order.OrderItems)
            {
                <tr>
                    <td>
                        <img src="~/img/@orderItem.ImageUrl" width="50" />
                    </td>
                    <td>
                        @orderItem.Name
                    </td>
                    <td>
                        @orderItem.Price
                    </td>
                    <td>
                        @orderItem.Quantity
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                 <td colspan="2">Customer Name: </td>
                 <td>@order.FirstName @order.LastName</td>
                 <td rowspan="3">Total: @order.TotalPrice() TL</td>
            </tr>
            <tr>
                <td colspan="2">Adres:</td>
                <td>@order.Address</td>
            </tr>
            <tr>
                <td colspan="2">Telefon Numarası:</td>
                <td>@order.Phone</td>
            </tr>
            <tr>
                <td colspan="2">Email:</td>
                <td>@order.Email</td>
            </tr>
            <tr>
                <td colspan="2">Ödeme Durumu:</td>
                <td>@order.PaymentTypes</td>
            </tr>
            <tr>
                <td colspan="2">Sipariş Durumu:</td>
                <td>@order.OrderState</td>
            </tr>
        </tfoot>
    </table>
}

